html, body {
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
    background: #f5e9e2;
}

p {
    margin: 0;
}

a, a:hover, a:active {
    text-decoration: none;
    color: inherit;
    border: none;
}

.header-red {
    background: #cf172b;
    color: #ecf0f1;
    padding: 1rem 1rem;
}

.info {
    background: #4f5d75;
    color: #ecf0f1;
}

.info h3 {
    text-align: left;
}

.info .container .row {
    min-height: calc(50vh - 140px);
}

.how-we-work {

}

.from-what {

}


.logo {
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
}

.header-menu a {
    margin: 0 .25rem;
}

ul li {
    list-style: none;
}

.btn.btn-primary, .btn.btn-primary:hover, .btn.btn-primary:active, a.btn.btn-primary:focus {
    background: #cf172b !important;
    color: #ecf0f1 !important;
    border: none;
    box-shadow: none !important;
}

.btn.btn-secondary, .btn.btn-secondary:hover, .btn.btn-secondary:active, a.btn.btn-secondary:focus {
    background: #ecf0f1 !important;
    color: #cf172b !important;
    border: none;
    box-shadow: none !important;
}

.quality {
    margin: 15px 0;
}

.quality:before {
    content: '';
    display: inline-block;
    clear: both;
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 5px;
}

.quality span {
    line-height: 32px;
}

.quality-1:before {
    background-image: url('../img/block.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.quality-2:before {
    background-image: url('../img/shopping-bag.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.quality-3:before {
    background-image: url('../img/3d-print.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.quality-4:before {
    background-image: url('../img/order.png');
    background-size: contain;
    background-repeat: no-repeat;
}

h3 {
    text-align: center;
    margin: 45px 0;

}

.info-card {
    background: #ecf0f1;
    height: 100%;
}

.info-card img {
    display: block;
    width: 100%;
    height: 270px;
    margin: 0px auto;
}

.info-card p {
    margin: 15px 0;
    text-align: center;
}

.feature-1 {
    background-image: url('../img/FDM@1X.png');
    width: 256px;
    height: 256px;
    background-size: contain;
}

.feature-2 {
    background-image: url('../img/SLA@1X.png');
    width: 256px;
    height: 256px;
    background-size: contain;
}

.feature-3 {
    background-image: url('../img/SLS_2@1X.png');
    width: 256px;
    height: 256px;
    background-size: contain;
}

.material-1 {
    background-image: url("../img/Plastics-1@1X.png");
    width: 256px;
    height: 256px;
    background-size: contain;
}

.material-2 {
    background-image: url("../img/Resin-1@1X.png");
    width: 256px;
    height: 256px;
    background-size: contain;
}