<%- include('parts/header.ejs') -%>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h3>Upload page</h3>
            <img src="./img/3d.svg" width="128" alt="3d" class="d-block my-5 ml-auto mr-auto">
            <p class="my-1 text-center">Available format is GLTF, in future we will support
                another popular formats<br/>You can use <a href="/create" style="font-weight: 600; color: #000;">three.js editor</a> to create simple 3d models</p>
        </div>
        <div class="col-6 m-auto">
            <form method='POST' action="/upload" enctype="multipart/form-data">
                <div>
                    <label for='model'>Model name</label>
                    <input class="form-control" type='text' id='model' name='name' required placeholder='Enter model name'>
                </div>
                <div class="custom-file my-3">
                    <input type="file" class="custom-file-input" id="customFile" name="modelFile" required>
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
                <button type='submit' class='btn btn-primary'>Upload</button>
            </form>
        </div>
    </div>
</div>
<%- include('parts/footer.ejs') -%>