<%- include('../parts/header.ejs') -%>

<div class='container info'>
    <div class='row'>
        <div class='col-md-6 col-xs-12'>
            <h3>Online print for 3d figures</h3>
            <a href='/upload'>Upload a model</a>
            <a href='/create'>Create a model</a>
        </div>
        <div class='col-md-6 col-xs-12'>
            <ul>
                <li class='quality quality-1'>
                    <span>Upload model file in CAD/Blender format or create it from scratch</span>
                </li>
            </ul>
        </div>
    </div>
</div>

<%- include('../parts/footer.ejs') -%>